* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #E8EBEE; 
    color: #1B262C; 
}

header {
    background-color: #394B59; 
    color: #F0F4F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(27, 38, 44, 0.3);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F0F4F8;
    font-family: cursive;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: #E0E5EC;
    font-weight: 600;
    transition: 0.5s;
    font-family: cursive;
}

nav a:hover {
    color: #9BB1BF;
}

.menu {
    margin-top: 100px;
    text-align: center;
    padding: 5rem 1rem;
    background: linear-gradient(45deg, #A3B8C3, #7C8B95);
    color: white;
}

.menu h1, .menu p {
    font-size: 2.5rem;
    color: #1B262C;

    font-family: cursive;
    transition: 3s;
}
.menu h1, menu p:hover
{
    transform: scale(1,1);
}

.menu button {
    background-color: #9AA5B1;
    color: #1B262C;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

.menu button:hover {
    transform: scale(1.1);
    background-color: #617e9a;
}

.carousel-inner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.menu-section {
    padding: 4rem 2rem;
    text-align: center;
}

.menu-section h2, .menu-section p {
    color: #1B262C;
    font-size: 2rem;
}

.menu-a {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.item {
    background-color: #F8FAFB;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    border-radius: 15px;
    height: 160px;
    object-fit: contain;
}

.item h3, .item p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #1B262C;
}

footer {
    background-color: #394B59;
    color: #E0E5EC;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.carousel-inner img {
    width: auto;
    max-width: 80%; 
    height: 200px; 
    object-fit: contain;
    margin: 0 auto;
    border-radius: 100px;
}

/* Switch estilo iPhone */
.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background: #ece9e9;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: .4;
}

input:checked + .slider {
    background: #4f8cff;
    color: #F0F4F8;
}

input:checked + .slider::before {
    transform: translateX(24px);
}

body.dark {
    background-color: #1B262C;
    color: #F0F4F8;
}

body.dark header{
    background-color: #222831;
    color: white;
}

body.dark .menu {
    background: linear-gradient(45deg, #1F2A32, #0F1418);
    color: #F0F4F8;
}

body.dark .item {
    background: #2C3945;
    color: #E8EEF3;
}

body.dark nav a {
    color: #ffffff;
}

body.dark footer {
    background-color: #000103;
}

body.dark h1,
body.dark p {
    color: #F0F4F8;
}

body.dark h2,
body.dark p {
    color: #F0F4F8;
}

body.dark h3,
body.dark p {
    color: #F0F4F8;
}

